.navlist {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
  
.navlist li {
    
    padding: 25px;
    list-style-type: none
}

.editGoalIcon {
    background: url("../assets/navbarIcons/pencil.svg") no-repeat 
}
.petHabitatIcon {
    background: url("../assets/navbarIcons/petHabitat.svg") no-repeat 
}
.homeIcon {
    background: url("../assets/navbarIcons/home.svg") no-repeat 
}
.shopIcon {
    background: url("../assets/navbarIcons/shop.svg") no-repeat 
}
.settingsIcon {
    background: url("../assets/navbarIcons/user.svg") no-repeat 
}

.SignOutPopup1 {
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    
    max-width: 500px;
    max-height: 250px;
    background: #F88B98;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}

.SignOutPopup2 {
    box-sizing: border-box;
    position: inherit;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 90%;
    background: #F9F9F9;
    border-radius: 15px;
}
.ConfirmSignOutButton {
    position: inherit;
    width: 105px;
    height: 34px;
    left: 10%;
    top: 60%;
    max-width: 105px;
    background: #F88B98;
    border-radius: 20px;
    border: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.CancelSignOutButton {
    position: inherit;
    width: 105px;
    height: 34px;
    left: 55%;
    top: 60%;
    max-width: 105px;
    background: #F88B98;
    border-radius: 20px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    
}
.OkayText {
    position: inherit;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;

    color: #F9F9F9;
}
.CancelText {
    position: inherit;

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;

    color: #F9F9F9;

}

.ConfirmSignOutText {
    position: inherit;
    width: 50%;
    height: 0%;
    left: 25%;
    top: 20%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.Popup {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 100;
    background-color: rgba(0, 0, 0, 0.2);
  }

.Footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}