.Login {
    background-color: #ffffff;
    position: relative;
    width: 390px;
    height: 844px;
    left: 0;
    top: 0;
    z-index: -1
}

.wave {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../../public/wave.svg") no-repeat center bottom;
    height: 100vh;
    background-size: cover;
}

.login-form{
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 110px;
}



img {
    position: absolute;
    left: 10px;
    top: 102px;
    width: 320px;
    height: 320px;
    z-index: 1;
  }

.logoTag {
    Position: absolute;
    width: 309px;
    height: 309px;
    left: 26px;
    top: 100px;

    z-index: 2;
}

.whiteBox {
    position: absolute;
    width: 100%;
    height: 240px;
    left: 21px;
    top: 549px;
    background: #F9F9F9;
    border-radius: 10px;
}

.loginField {
    width: 65%;
    height: 20px;
    border-radius: 10px;
    margin: 4px 2px;
    background-color: #374350;
    border: none;
    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto';
    margin: 4px 2px;
}

.loginButton {
    width: 135px;
    height: 29px;
    background-color: #F48F9C;
    border: none;
    border-radius: 10px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

::placeholder {
    color: white;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
}

.createAccountRedirect {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 40px;
}

.createAccountButton {
    border: none;
    outline: none;
    background: none;
}
