.DeleteGoal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DeleteGoal .DeleteGoalInputBubble {
    position: relative;
    margin: 30px;
    /* height: 423px; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    max-width: 500px;
    background: #EEE;
    border-radius: 15px;
    box-shadow: 4px 4px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:1%;
    color: #374350;
    min-height: 350px;
}

/* .DeleteGoalInputBubble {
    min-height: 350px;
} */

.bubbleHeader {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.BinaryBubbleButton {
    /* display: flex;
    padding-left: 60px;
    padding-right: 60px;
    margin: 15px;
    height: 45px; */
    background-color: #F48F9C;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 35%;
}

.BinaryBubbleButtons {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.existsContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}