.DeleteGoal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DeleteGoal .DeleteGoalInputBubble {
    position: relative;
    margin: 30px;
    height: 423px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    max-width: 500px;
    background: #EEE;
    border-radius: 15px;
    box-shadow: 4px 4px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:1%;
    color: #374350;
}

.bubbleHeader {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.deleteGoalButtons {
    margin-top: 40px;
}

.deleteGoalButton {
    padding-left: 60px;
    padding-right: 60px;
    margin: 15px;
    height: 45px;
    background-color: #F48F9C;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.DeleteGoalPopup {
    
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}