.CreateGoal {
    background: url("../assets/PinkWave.svg") no-repeat center bottom;
    background-size: cover;
}

.BubbleHeader {
    font-size: 24px;
    font-weight: 400;
}

.ProfessorText {
    max-height: 148px;
    width: 100%;
}