.Home {
    background: url("../assets/wave.svg") no-repeat center bottom;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.GoalBubble {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 0px -40px 0px;
    width: 347px;
    height: 160px;
    background: #F9F9F9;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.BubbleText{
    position: inherit;
    margin: 18px 0px px 0px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
}

.CompleteGoal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 156px;
    height: 130px;
    border-radius: 50%;
    background: #ffffff;
}

.CompleteGoalText1{
    position: inherit;
    margin: 0px 63px;
    font-family: 'Syncopate';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
}

.pet { 
    position: relative;
    margin: 22px 48px 0px 0px; 
    height: 320px;
    
}

.GreenCheck {
    max-height: 158px;
    width: 100%;
}

.GoalButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 156px;
    height: 156px;
    border-radius: 50%;
    background: #F88B98;
}

.G1Text {
    position: inherit;
    margin: 0px 63px; 
    font-family: 'Syncopate';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
}

.G2Text{
    font-family: 'Syncopate';
    font-style: normal;
    font-size: 5px;
    line-height: 5px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.ProfessorText {
    max-height: 148px;
    width: 100%;
}

.navbar {
    background-color: #EEE;
    width: 100%;
    margin-top: 10px;
    bottom: 0;
}

.navlist {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
  
.navlist li {
    padding: 25px;
    list-style-type: none
}

.editGoalIcon {
    background: url("../assets/navbarIcons/pencil.svg") no-repeat 
}
.petHabitatIcon {
    background: url("../assets/navbarIcons/petHabitat.svg") no-repeat 
}
.homeIcon {
    background: url("../assets/navbarIcons/home.svg") no-repeat 
}
.shopIcon {
    background: url("../assets/navbarIcons/shop.svg") no-repeat 
}
.settingsIcon {
    background: url("../assets/navbarIcons/user.svg") no-repeat 
}

.SignOutPopup1 {
    box-sizing: border-box;

    position: absolute;
    left: 5.64%;
    right: 5.13%;
    top: 6.4%;
    bottom: 66.11%;

    background: #F88B98;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.SignOutPopup2 {
    box-sizing: border-box;

    position: inherit;
    left: 5%;
    right: 5%;
    top: 10%;
    bottom: 10%;

    background: #F9F9F9;
    border-radius: 15px;
}
.ConfirmSignOutButton {
    position: relative;
    width: 20%;
    height: 20%;
    left: 15%;
    top: 60%;

    background: #F88B98;
    border-radius: 20px;
}

.CancelSignOutButton {
    position: relative;
    width: 20%;
    height: 20%;
    left: 40%;
    top: 60%;

    background: #F88B98;
    border-radius: 20px;
}
.OkayText {
    position: inherit;
    width: 0%;
    height: 0%;
    left: 35%;
    top: 0%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #F9F9F9;
}
.CancelText {
    position: inherit;
    width: 0%;
    height: 0%;
    left: 30%;
    top: 0%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #F9F9F9;

}

.ConfirmSignOutText {
    position: inherit;
    width: 50%;
    height: 0%;
    left: 30%;
    top: 20%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}