.Home {
   
    background: url("../assets/branding/wave.svg") no-repeat center;

    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
   
    padding-bottom: 60px;
}

.GoalBubble {
    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 0px 0px 0px;
 
    max-width: 500px;
    width: 90%;
    height: 100%;
    background: #F9F9F9;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.BubbleText{
    position: inherit;
    margin: 18px 0px px 0px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;

}

.CompleteGoal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 156px;
    height: 130px;
    border-radius: 50%;
    background: #ffffff;
}

.CompleteGoalText1{
    position: inherit;
    margin: 0px 63px;
    font-family: 'Syncopate';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;

}

.ProgCountAndPetPointSubText{
    position: inherit;
    margin: 0px 63px;
    font-family: 'Syncopate';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;

}

.pet {
    margin: 10% 0px;
    height: 25vh;
}

.GreenCheck {
    
    position: relative;
    
    
    
    margin: 60px 0px 90px 0px;
    
}

.GoalButton {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin: 60px 0px 90px 0px;

    width: 158px;
    height: 158px;

    border-radius: 50%;
    background: #F88B98;
    border: none;
}

.G1Text {
    position: inherit;
    margin: 0px 63px; 
    font-family: 'Syncopate';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;

}

.G2Text{
    font-family: 'Syncopate';
    font-style: normal;
    font-size: 5px;
    line-height: 5px;
    line-height: 100%;
 
    font-size: 12px;
}

.ProfessorText {
    max-height: 20vh;
    width: 100%;
    min-width: 90vw;
    margin: 0px 0px 60px 0px;
}

.navbar {
    background-color: #EEE;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.PetEnvironmentHeader {
    position: relative;
    
    width: 90%;
    height: 50vh;
    top: 25px;
    max-width: 500px;
    max-height: 750px;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #D9D9D9;
    border: 4px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 20px;
    margin: 0px 0px 41px 0px;
}

.PetHeader {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60vh;
}

.WindowTextBox1{
    
    position: absolute;
    top: 0%;
    left: 2%;
  
}

.WindowTextBox2{

    position: absolute;
    top: 0%;
    left: 80%;
}

.WindowTextBox3{
    position: absolute;
    top: 27px;
    left: 92%;
}

.WindowText {
   
    


    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
