.Home, .ActiveGoal {
    background: url("../assets/branding/wave.svg") no-repeat center bottom;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.GoalBubble {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% 0px 0px 0px;
    width: 90%;
    height: 20vh;
    background: #F9F9F9;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.BubbleText{
    position: inherit;
    margin: 18px 0px px 0px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
}

.CompleteGoal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 156px;
    height: 130px;
    border-radius: 50%;
    background: #ffffff;
}

.CompleteGoalText1{
    position: inherit;
    margin: 0px 63px;
    font-family: 'Syncopate';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
}

.pet {
    margin: 10% 0px;
    height: 25vh;
}

.GreenCheck {
    max-height: 158px;
    width: 100%;
}

.GoalButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    background: #F88B98;
    border: none;
}

.G1Text {
    position: inherit;
    margin: 0px 63px; 
    font-family: 'Syncopate';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
}

.G2Text{
    font-family: 'Syncopate';
    font-style: normal;
    font-size: 5px;
    line-height: 5px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
}

.Home .ProfessorText {
    max-height: 20vh;
    width: 100%;
    margin-top: -40px;
    min-width: 90vw;
}

.navbar {
    background-color: #EEE;
    width: 100%;
    position: absolute;
    bottom: 0;
}

