/* src/RegPage.css */
.Registration {
    /* styles for the Registration container */

}

.Registration label {
    /* styles for the label elements within the Registration container */

}
  
.Registration input[type="text"] {
    /* styles for the text input elements within the Registration container */

    /* Rectangle 63 */

width: 306px;
height: 37px;
left: 43px;
top: 562px;

background: #374350;
border-radius: 10px;


/* Rectangle 64 */

width: 306px;
height: 37px;
left: 43px;
top: 611px;

background: #374350;
border-radius: 10px;


/* Email */


width: 269px;
height: 36px;
left: 62px;
top: 563px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Password */



width: 269px;
height: 36px;
left: 62px;
top: 612px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Rectangle 66 */



width: 306px;
height: 37px;
left: 43px;
top: 660px;

background: #374350;
border-radius: 10px;


/* Verify password */



width: 269px;
height: 36px;
left: 62px;
top: 662px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #FFFFFF;
}